@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Add your CSS styles here */
.lists-container {
  display: flex;
  justify-content: space-between;
}

.task-list {
  border: 1px solid #ccc;
  padding: 10px;
  width: 30%;
}

.task-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ... Add more styles as needed ... */
